.logo {
    animation: spin infinite 9s linear;
    width: 100%;
    max-width: 142px;
    pointer-events: none;
    margin-right: 32px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
